div
	form.navbar-form.pull-right(ng-submit="login()")
		input.span2(ng-model="username" type="text" placeholder="Username")
		input.span2(ng-model="password" type="password" placeholder="Password")
		input.btn(type="submit" value="Sign in")