.navbar-form.navbar-right
	p.navbar-text.pull-right(ng-show="user")
		span.navbar-link
			| Logged as {{user.username}}. 
			a(ng-click="logout()") Logout.
	div(ng-hide="user")
		include ./form.jade