.navbar-collapse.collapse
	.navbar-right
		p.navbar-text(ng-show="user")
			span.navbar-link
				| Logged as {{user.username}}. 
				a(ng-click="logout()") Logout.
		div(ng-hide="user")
			include ./form.jade