div(ng-controller="TaskCtrl")
	div(ng-hide="tasks.length == 0")
		span.info You have {{remaining()}} of {{tasks.length}} to do.
	a(href="", ng-click="clean()", ng-class="{opaque: !hasChecked()}") Remove checked.

	ul
		li(ng-repeat="task in tasks")
			div(ng-hide="task.editMode")
				input(type="checkbox", ng-change="save()", ng-model="task.done")
				span(class="done-{{task.done}}") {{task.text}}

				span.edit-button(ng-hide="task.done", ng-click="startEdit(task)")!= ' &bull; Edit'
			input(ng-show="task.editMode", ng-model="task.text", ui-keydown="{enter: 'saveEdit(task)', esc: 'cancelEdit(task)'}")

	a(href="", ng-click="formMode = true", ng-hide="formMode") Add task
	form(ng-submit="addTask()", ng-show="formMode")
		input(ng-model="taskText", placeholder="new task")
		input(type="submit", value="Add!")