.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="/")= title
		#header.navbar-collapse.collapse.in(ng-controller="HeaderCtrl")
			ul.navbar-nav.nav
				li(ng-show="user"): a(href="/anime") Anime list
			login-toolbar